<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackolive.app.domain.counselor.CounselorFaqMapper">
	
	<resultMap type="com.blackolive.app.domain.counselor.FaqVO" id="faqMap">
		<result property="rowNumber" column="rowNumber"/>
		<result property="askCategoryId" column="askCategoryId"/>
		<result property="askCategoryMajor" column="askCategoryMajor"/>
		<result property="askCategoryMinor" column="askCategoryMinor"/>
		<result property="faqTitle" column="faqTitle"/>
		<result property="faqContent" column="faqContent"/>
	</resultMap>
	<!-- public List<FaqVO> faqlistwithMinor(String askCategoryMinor) throws ClassNotFoundException, SQLException; -->
	<select id="faqlistwithMinor" resultMap="faqMap">
		SELECT  ROW_NUMBER ()over( ORDER BY faq_id) AS rowNumber,
		        f.ask_category_id AS askCategoryId ,
		        ask_category_major AS askCategoryMajor,
		        ask_category_minor AS askCategoryMinor,
		        faq_title AS faqTitle,
		        faq_content AS faqContent
		FROM faq f
		    LEFT JOIN ask_category ac on f.ask_category_id = ac.ask_category_id
		WHERE ask_category_minor = #{ askCategoryMinor }
	</select>
	
	
	<!-- public List<FaqVO> faqlistwithMajor(String askCategoryMajor) throws ClassNotFoundException, SQLException; -->
	<select id="faqlistwithMajor" resultMap="faqMap">
		SELECT  ROW_NUMBER ()over( ORDER BY faq_id) AS rowNumber ,
		        f.ask_category_id AS askCategoryId ,
		        ask_category_major AS askCategoryMajor,
		        ask_category_minor AS askCategoryMinor,
		        faq_title AS faqTitle,
		        faq_content AS faqContent
		FROM faq f
		    LEFT JOIN ask_category ac on f.ask_category_id = ac.ask_category_id
		WHERE ask_category_major = #{ askCategoryMajor }
	</select>
	
	<!-- public List<FaqVO> faqlistsearch(String searchword) throws ClassNotFoundException, SQLException; -->
	<select id="faqlistsearch" resultMap="faqMap">
		SELECT  ROW_NUMBER ()over( ORDER BY faq_id) AS rowNumber ,
		        f.ask_category_id AS askCategoryId ,
		        ask_category_major AS askCategoryMajor,
		        ask_category_minor AS askCategoryMinor,
		        faq_title AS faqTitle,
		        faq_content AS faqContent
		FROM faq f
		    LEFT JOIN ask_category ac on f.ask_category_id = ac.ask_category_id
		WHERE faq_title LIKE '%' || ${searchword} || '%'
	</select>	

</mapper>