<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- 별칭 작성 부분 -->
	<typeAliases>
	
	<!-- 		<typeAlias type="com.blackolive.app.domain.head.CategoryTotalDTO" alias="categoryTotal" /> -->
			<typeAlias type="com.blackolive.app.domain.head.CategoryLargeDTO" alias="categoryLarge" />
			<typeAlias type="com.blackolive.app.domain.head.CategoryMidDTO" alias="categoryMid" />
			<typeAlias type="com.blackolive.app.domain.head.CategorySmallDTO" alias="categorySmall" />
			<typeAlias type="com.blackolive.app.domain.basket.BasketDTO" alias="basketDTO" />
			
			
			
			<typeAlias type="com.blackolive.app.domain.productList.BrandDTO" alias="BrandDTO" />
			<typeAlias type="com.blackolive.app.domain.productList.ProductContainer" alias="ProductContainer" />
			
	</typeAliases>
	
	<!-- 언더바를 대문자를 바꿔주는 작업 -->
	<mappers>
		<!-- 
		<mapper resource=""/> 의 작성 기준 -> src/main/resources는 기본적용
		ex) com/blackolive/app/mapper/각자폴더/각자파일네임.xml
		 -->
		<mapper resource="com/blackolive/app/mapper/head/HeadMapper.xml"/>

		<mapper resource="com/blackolive/app/mapper/store/StoreMapper.xml"/>
		<mapper resource="com/blackolive/app/mapper/basket/BasketMapper.xml"/>
		
		<mapper resource="com/blackolive/app/mapper/productList/ProductListMapper.xml"/>
		<mapper resource="com/blackolive/app/mapper/signin/JoinMapper.xml"/>
		
	</mappers>
	
</configuration>