<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackolive.app.mapper.head.HeadMapper">

	<!-- public Map<CategoryLargeDTO, List<CategoryMidDTO>> getHeadCategory (int categoryTotalId); -->
	
	<!-- <resultMap type="com.blackolive.app.domain.head.TotalListDTO" id="TotalResultMap">
		<collection property="largeList" resultMap="LargeResultMap"></collection>
	</resultMap> -->

	<resultMap type="com.blackolive.app.domain.head.CategoryLargeDTO" id="LargeResultMap">
        <id property="categoryLargeId" column="category_large_id"/>
        <result property="categoryLargeName" column="category_large_name"/>
        <result property="categoryTotalId" column="category_total_Id"/>
    </resultMap>

    <resultMap type="com.blackolive.app.domain.head.CategoryMidDTO" id="MidResultMap">
        <id property="categoryMidId" column="category_mid_id"/>
        <result property="categoryMidName" column="category_mid_name"/>
        <result property="categoryLargeId" column="category_large_id"/>
    </resultMap>

    <select id="getHeadCategory" resultMap="LargeResultMap">
        SELECT cl.category_large_id, cl.category_large_name, cl.category_total_id
        FROM category_large cl
        WHERE cl.category_total_id = #{categoryTotalId}
        ORDER BY cl.category_large_id ASC
    </select>

    <select id="getHeadCategoryMid" resultMap="MidResultMap">
        SELECT cm.category_mid_id, cm.category_mid_name, cm.category_large_id
        FROM category_mid cm
        JOIN category_large cl ON cm.category_large_id = cl.category_large_id
        ORDER BY cm.category_mid_id ASC
    </select>
	
	<select id="getExample" resultType="com.blackolive.app.domain.head.ExampleDTO">
		SELECT *
		FROM category_total
		where category_total_id = 1
	</select>
	
	<select id="selectAllEvent" resultType="EventDTO">
		SELECT *
		FROM event
		WHERE event_category=#{click} AND event_enddate >= SYSDATE
	</select>
	
	<select id="selectOneEvent" resultType="EventDTO">
		SELECT *
		FROM event
		WHERE event_id = #{eventId}
	</select>
	
	<select id="selectAllGiftCard" resultType="GiftCardDTO">
		SELECT *
		FROM giftcard
	</select>
	
	<select id="selectOneGiftCard" resultType="GiftCardDTO">
		SELECT *
		FROM giftcard
		WHERE giftcard_id = #{giftCardId}
	</select>
	
	<select id="selectAllMsgCard" resultType="MsgCardDTO">
		SELECT *
		FROM msg_card
	</select>

	<select id="getTotalCategory" resultType="com.blackolive.app.domain.head.AllCategoryDTO">
		SELECT DISTINCT
                    ch.category_total_id
					, cl.category_large_id, cl.category_large_name 
					, cm.category_mid_id, cm.category_mid_name 
					, cs.category_small_id, cs.category_small_name 
					FROM product_display pd 
					JOIN product p ON pd.product_display_id = p.product_display_id
					JOIN category_small cs ON p.category_small_id = cs.category_small_id 
					JOIN category_mid cm ON cs.category_mid_id = cm.category_mid_id 
					JOIN category_large cl ON cm.category_large_id = cl.category_large_id
					JOIN category_total ch ON cl.category_total_id = ch.category_total_id 
					where pd.product_display_id = #{product_display_id}
	</select>
	
	<select id="selectRankingCatMidName" resultType="categoryMid">
		SELECT c.category_mid_id, category_mid_name
		FROM category_mid c JOIN order_product o ON c.category_mid_id = o.category_mid_id
		GROUP BY c.category_mid_id, category_mid_name
		HAVING sum(product_cnt) > 50
	</select>
	
	<select id="selectSaleRankingProduct" resultType="ProductContainer">
		SELECT * 
		FROM productcontainer 
		WHERE  product_id IN ( 
		    SELECT product_id 
		    FROM ( 
		        SELECT product_id, sum(product_cnt) cnt 
		        FROM order_product 
		        <where>
			        <if test="categoryMidId != null and categoryMidId != ''">
						CATEGORY_MID_ID = #{categoryMidId}
					</if>
		        </where>
		        GROUP BY product_id 
		        ORDER BY cnt DESC 
		    )
		    <![CDATA[
		    WHERE ROWNUM <= 100
		    ]]>
		)
		ORDER BY ordercnt DESC
	</select>
	
</mapper>