<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackolive.app.mapper.head.HeadMapper">

	<!-- public Map<CategoryLargeDTO, List<CategoryMidDTO>> getHeadCategory (int categoryTotalId); -->
	
	<!-- <resultMap type="com.blackolive.app.domain.head.TotalListDTO" id="TotalResultMap">
		<collection property="largeList" resultMap="LargeResultMap"></collection>
	</resultMap> -->

	<resultMap type="com.blackolive.app.domain.head.CategoryLargeDTO" id="LargeResultMap">
        <id property="categoryLargeId" column="category_large_id"/>
        <result property="categoryLargeName" column="category_large_name"/>
        <result property="categoryTotalId" column="category_total_Id"/>
    </resultMap>

    <resultMap type="com.blackolive.app.domain.head.CategoryMidDTO" id="MidResultMap">
        <id property="categoryMidId" column="category_mid_id"/>
        <result property="categoryMidName" column="category_mid_name"/>
        <result property="categoryLargeId" column="category_large_id"/>
    </resultMap>

    <select id="getHeadCategory" resultMap="LargeResultMap">
        SELECT cl.category_large_id, cl.category_large_name, cl.category_total_id
        FROM category_large cl
        WHERE cl.category_total_id = #{categoryTotalId}
        ORDER BY cl.category_large_id ASC
    </select>

    <select id="getHeadCategoryMid" resultMap="MidResultMap">
        SELECT cm.category_mid_id, cm.category_mid_name, cm.category_large_id
        FROM category_mid cm
        JOIN category_large cl ON cm.category_large_id = cl.category_large_id
        ORDER BY cm.category_mid_id ASC
    </select>
	
	<select id="getExample" resultType="com.blackolive.app.domain.head.ExampleDTO">
		SELECT *
		FROM category_total
		where category_total_id = 1
	</select>
	
</mapper>