<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackolive.app.mapper.store.StoreMapper">

	<select id="selectAllStore" resultType="com.blackolive.app.domain.store.StoreDTO">
		SELECT *
		FROM store s JOIN store_time st ON s.store_id = st.store_id
	</select>

</mapper>